#worker_processes auto;
worker_processes 3;
pid /tmp/nginx.pid;

user 	abc;

events {
    worker_connections 128;
    use epoll;
}

http {
    include 		/etc/nginx/mime.types;
    default_type 	application/octet-stream;

#	access_log 	/config/nginx-acces.log combined;
#	access_log 	/dev/console combined;
	access_log 	/dev/null combined;
#	error_log 	/config/nginx-error.log error;
	error_log 	/dev/console error;
#	error_log 	/dev/null error;

    fastcgi_temp_path 		/tmp/fastcgi 1 2;
    client_body_temp_path 	/tmp/client_body 1 2;
    proxy_temp_path 		/tmp/proxy 1 2;
    uwsgi_temp_path 		/tmp/uwsgi 1 2;
    scgi_temp_path 		/tmp/scgi 1 2;

    sendfile 		on;
    keepalive_timeout 	15;
    keepalive_disable 	msie6;
    keepalive_requests 	100;
    tcp_nopush 		on;
    tcp_nodelay 	off;
    server_tokens 	off;

    server {
	listen 80 default_server;
	server_name _;

	charset utf-8;
	index index.html index.php;
	client_max_body_size 10M;
	error_page 500 502 503 504 /50x.html;
	location = /50x.html { root /usr/share/nginx/html; }
	root /var/www/html;
	absolute_redirect off;

	location = /favicon.ico {
	    access_log off;
	    log_not_found off;
	}
	location ^~ / {
	    root /var/www/ruTorrent;
	    location ~ \.php$ {
		fastcgi_index index.php;
		fastcgi_pass unix:/tmp/php-fpm.sock;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include /etc/nginx/fastcgi_params;
	    }
	    location ~* \.(jpg|jpeg|gif|css|png|js|map|woff|woff2|ttf|svg|eot)$ {
		expires 30d;
		access_log off;
	    }
	    location ~ /\.svn {
		deny all;
	    }
	    location ~ /\.ht {
		deny all;
	    }
	}
	location ^~ //share {
	    root /var/www/ruTorrent;
	    location ~ \.php$ {
		fastcgi_index index.php;
		fastcgi_pass unix:/tmp/php-fpm.sock;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include /etc/nginx/fastcgi_params;
	    }
	    satisfy any;
	    allow all;
	}
	location /RPC {
	    include /etc/nginx/scgi_params;
	    scgi_pass 127.0.0.1:5000;
	}
	location ^~ /ruTorrent/conf/ {
	    deny all;
	}
	location ^~ /ruTorrent/share/ {
	    deny all;
	}
    }
}
