#log.open_file 	= 		"rtorrent", /config/rtorrent.log
    ## A konzolra, hogy kikerüljön a konténeren kívülre...
log.open_file 	= 		"rtorrent", /dev/stdout
log.add_output = "info", 	"rtorrent"
log.add_output = "debug", 	"rtorrent"
log.add_output = "error", 	"rtorrent"

system.daemon.set 	= true
system.umask.set 	= 002
encoding.add 		= utf8

## Ide tölt le
directory 		= /downloads
directory.default.set 	= /downloads

execute.throw = sh, -c, "mkdir -p /config/rtorrent_sess "
execute.throw = sh, -c, "mkdir -p /config/watched "
execute.throw = sh, -c, "rm       /config/rtorrent_sess/rtorrent.lock ; exit 0 "

# Default session directory. Make sure you don't run multiple instance of rtorrent using the same session directory. Perhaps using a relative path?
session 		= /config/rtorrent_sess
session.path.set 	= /config/rtorrent_sess


schedule = watch_directory_1,5,5,"load.start=/config/watched/*.torrent"
schedule = low_diskspace,5,60,close_low_diskspace=100M


# ip = 178.32.28.51
#bind 		= 0.0.0.0
port_range 	= 51413-51413

dht 		= auto
dht_port 	= 6881

#use_udp_trackers 	= yes
#peer_exchange 		= yes

check_hash = yes
encryption = allow_incoming,try_outgoing,enable_retry

#max_uploads 	= 0
#min_peers 	= 0
#max_peers 	= 0

upload_rate 	= 7000
download_rate 	= 23

## Public torrents: DHT, PEX, magnet links, UDP trackers
dht.mode.set = auto
dht.port.set = 6881
protocol.pex.set = 1
trackers.use_udp.set = 1
# Adding public DHT servers for easy bootstrapping
schedule2 = dht_node_1, 5, 0, "dht.add_node=router.utorrent.com:6881"
schedule2 = dht_node_2, 5, 0, "dht.add_node=dht.transmissionbt.com:6881"
schedule2 = dht_node_3, 5, 0, "dht.add_node=router.bitcomet.com:6881"
schedule2 = dht_node_4, 5, 0, "dht.add_node=dht.aelitis.com:6881"


scgi_port 	= 0.0.0.0:5000
encoding_list 	= UTF-8
#network.xmlrpc.size_limit.set = 4M

# Memória limit esetén a nagy torrenteket nem tudja le hash-elni!!!
#pieces.memory.max.set = 1024M 		## File mapping
#pieces.memory.max = 1024M 		## NEM korlátozza a RAM használatot!!!!
max_memory_usage = 512M
